<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <include file="$(find mobile_robot_gazebo)/launch/mobile_robot_10x10_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find mobile_robot_description)/urdf/mobile_robot.urdf.xacro'"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"></node>

  <!-- Map server -->
  <arg name="map_file" default="$(find mobile_robot_navigation)/maps/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>

  <!-- AMCL -->
  <include file="$(find mobile_robot_navigation)/launch/amcl.launch"/>
  
  <!-- Arguments -->
  <include file="$(find mobile_robot_navigation)/launch/move_base.launch"/>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
    args="-d $(find mobile_robot_navigation)/rviz/navigation.rviz"/>

</launch>